{
	servers {
		timeouts {
			read_body 30m
			read_header 1m
			write 0
			idle 10m
		}
	}
}

# if you have domain, caddy may help tls
you.domain {
	handle /tingly/* {
		reverse_proxy localhost:12580 {
			flush_interval -1
			transport http {
				read_timeout 0
				keepalive 10m
			}
		}
	}

  // here is a mirror for debug or rc version
  handle /mirror/* {
                uri replace /mirror /tingly
                reverse_proxy localhost:12580 {
                        flush_interval -1
                        transport http {
                                read_timeout 0
                                keepalive 10m
                        }
                }
        }


	handle /hi {
		respond "Hello, privacy!"
	}

	handle {
		respond "Forbidden" 403
	}
}